        <div class="row">
            <div class="col-md-12">
                
                <h2>Add To Do List</h2>
        
                    <br />
                
                        <form method="post" action="/ToDoList/add">
                
                            <fieldset>
                                <legend>Personal Information</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Listname">List Name:</label>
                                            <input class="form-control" id="Listname" name="Listname" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Description">Description:</label>
                                            <input class="form-control" id="Description" name="Description" type="text"  />
                                        </div>
                                    </div>
                                </div>
                            <input type="submit" class="btn btn-primary pull-right" value="Add To Do List" /><br /><br /><br />
                        </form>
            </div>
        </div>
    </div>