<div class="row">
    <div class="col-md-12">
        <a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a>
        <hr/>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>NUMBER</th>
                    <th>NAME</th>
                    <th>DESCRIPTION</th>
                </thead>
                <tbody>
                {{#each ToDoList}}
                <tr>
                    <td>{{this.Listnum}}</td>
                    <td>{{this.Listname}}</td>
                    <td>{{this.Description}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
         </div>
    </div>
    {{#unless ToDoList}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div>